.myModal{
    display: none;

    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
.modalContent{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    border-radius: 15px;
    min-width: 20rem;
    max-width: 40rem;
}
.active{
    display: flex;
    align-items: center;
    justify-content: center;
}