*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;

}
header, section, footer{
    max-width: 100%;
}
.content{
    max-width: 1280px;
    margin: 0 auto;
}
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}
:root {
    --background:#FFD6C2;
    --main:#480032;
    --shadow:#FF8B6A;
    --main-light:#DF0054;
    --black:#000;
    --white:#fff;
    --text:#2E2E2E;
    --grey:#848484;
}